<div class="item-id">
  id: <span class="item-id"><%= id %></span>
</div>
<div class="item-url">
  url: <%= url %>
</div>
<div class="item-name">
  name: <%= name %>
</div>
<button class="item-save">Save Item</button>
